<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <sessionState mode="InProc" timeout="20"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Vs code\Projrct\App_Data\Database.mdf;Integrated Security=True;User Instance=True" name="Mycon" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>